.centered-div {
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}
.logmein button {
    position: relative;
    left: 120px;
    top: 10px;
}

.searchsort {
    position:relative;
    left: 250px;
    top: 150px;
}

.breadcrum {
    top: 200px;
    left: 250px;
    width: 260px;
}

.products {
  
}
.roundedCorner {
    border: 2px solid black;
    border-radius:8px;
}
.products li {
    list-style: none;   
}

.products li div img {
    position: relative;
    top: 20px;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    left: 20px;

}
.products li div a {
    position:relative;
    left: 40px;
}

.products li div p {
    position: relative;
    left: 150px;
}

.quant {
   position:relative;
   top: -70px;
     width: 70px;
    float: right;
    display: block;
}

.quant input {
    width: 50px;
}

.cartbut {
    position: relative;
    float: right;
    left: 50px;
}



