<div class="container-fluid">
    <div ng-show="isNotLoggedIn() == false" ng-controller="LoginController">
        <button class="btn btn-primary" ng-click="logout()">Logout</button>
    </div>
    <div class="AdminSearch">
        <a href="#/" class="btn btn-primary"> Back </a>
        Search: <input ng-model="query">
    </div>
    <div class="products" ng-controller="AdminControl as product">
        <ul>
            <li class="adminProducts" ng-repeat="p in products | filter:query">
                <div class="row col-md-3 roundedCorner" style="margin:5px 5px 5px 5px;">
                        Name product: <div class="adminprodInput"><input type="text" placeholder="{{p.Name}}" name="{{p.Name}}"ng-model="p.Name" /></div>
                        Quantity available:<div class="adminprodInput"> <input type="number" value="{{p.Quantity}}" name="{{p.Quantity}}" ng-model="p.Quantity" /></div>
                        Price product: <div class="adminprodInput"> <input type="number" name="{{p.Price}}" ng-model="p.Price" value="{{p.Price}}" /></div>
                        Catagory product: <div class="adminprodInput"><input type="text" placeholder="{{p.Category}}" name="{{p.Category}}" ng-model="p.Category" /></div>
                        Brand product: <div class="adminprodInput"><input type="text" placeholder="{{p.Brand}}" name="{{p.Brand}}" ng-model="p.Brand" /> </div>
                    <input type="submit" class="btn" value="delete" ng-click="deleteProduct(p.Product_id)" />
                    <input type="submit" class="btn btn-primary" value="update" ng-click="updateProduct(p)" />
                </div>
            </li>
        </ul>
    </div>
    <div class="AdminAdding">
        <h1>Add new products here:</h1>
        <form ng-controller="AdminControl">
            Name: <div class="AdminAddingInput"><input type="text" ng-model="Name" size="30" placeholder="add product name here" /> </div>
            Price: <div class="AdminAddingInput"><input type="number" ng-model="Price" size="30" placeholder="add product price here" /> </div>
            Brand: <div class="AdminAddingInput"><input type="text" ng-model="Brand" size="30" placeholder="add product brand here" /></div>
            Category: <div class="AdminAddingInput"><input type="text" ng-model="Category" size="30" placeholder="add product category here" /></div>
            Quantity: <div class="AdminAddingInput"><input type="number" ng-model="Quantity" size="30" placeholder="add product quantity here" /></div>
            <input type="button" class="btn btn-primary" value="add" style="margin-top:20px" saveProduct()" />
        </form>
    </div>
    <div class="adminAllCategories" ng-controller="AdminControl as category">
        <p>All categories:</p>
        <ul>
          <li ng-repeat="c in categories">
              Categorie: <span>{{c.Name}}</span>
          </li>  
        </ul>
    </div>
</div>