<div >
    
    <a href="#/" class="back"> Terug </a>

    <h1>Name: {{item.Name}}</h1>
    <h3>Category: {{item.Category}}</h3>
    <h3>Brand: {{item.Brand}}</h3>

    <ul class="">
        <li>
            <img href="#/products/img/{{item.Product_id}}" />
        </li>
    </ul>

    <ul class="">
        <li>
            <span>Price</span>
            <dl>
                <dd>{{item.Price}}</dd>
            </dl>
        </li>
        <li>
            <span>Quantity available</span>
            <dl>
                <dd>{{item.Quantity}}</dd>
            </dl>
        </li>
        <li>
            <span>Brand</span>
            <dl>
                <dd>{{item.Brand}}</dd>
            </dl>
        </li>
    </ul>

    <form ng-submit="item.addToCart()">
        <button>Add to cart</button>
    </form>
</div>

