<div class="container-fluid">
    <div class="row" ng-show="isNotLoggedIn() == true" ng-controller="LoginController">
        <div class="col-md-2 pull-right">
                <form class="form-signin" ng-submit="logMeIn()">
                    <h2 class="form-signin-heading">Sign In</h2>
                    
                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input type="email" id="inputEmail" name="emailinput" class="form-control" ng-model="emailinput" placeholder="Email address" required autofocus>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" name="passwordinput" ng-model="passwordinput" class="form-control" placeholder="Password" required>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </form>

        </div>
    </div>
    <div ng-show="isNotLoggedIn() == false" ng-controller="LoginController">
        <a href="#/partials/adminpanel" ng-click="fetchProducts()">Admin</a>
    </div>
    <div ng-show="isNotLoggedIn() == false" ng-controller="LoginController">
        <button class="btn btn-primary" ng-click="logout()">Logout</button>
        </div>

        <div class="col-md-12">
            <div class="center-block centered-div">
                Search: <input ng-model="query">
                Sort by: <select ng-model="orderProp">
                    <option value="text">Alphabetical</option>
                    <option value="Price">Price</option>
                </select>
            </div>
        </div>
    <div class="products">
        <ul>
            <li class="products1" ng-animate="'animate'" ng-repeat="p in products | filter:query | orderBy:orderProp">
                <div class="row col-md-3 roundedCorner" style="margin:5px 5px 5px 5px;">
                    <img href="#/products/img/{{p.Product_id}}" />
                    <a href="#/products/{{p.Product_id}}" ng-click="fetchDetails()">{{p.Name}}</a>
                    <p> {{p.Price}}</p>
                    <div class="quant">Quantity:<input type="number" name="{{p.Quantity}}" value="1" min="1" max="{{p.Quantity}}" ng-model="p.Quantity" /> </div>
                    <input class="cartbut" type="button" ng-controller="shoppingcartCtrl" ng-click="addToCart(p,'/customer/shoppingcart')" value="Add to cart" />
                </div>
            </li>
        </ul>
    </div>
    </div>
